<!DOCTYPE html>
<html lang="en">
<%- include('Layouts/header') %>
<body>
    <%- include('Layouts/navbar') %>
    <h1 class="display-3">About page</h1>


    <%- include('Layouts/footer') %>
    <%- include('Layouts/scripts') %>
</body>
</html>