<!DOCTYPE html>
<html lang="en">
    <%- include('Layouts/header') %>
<body>
    <header>
    <%- include('Layouts/navbar') %>
    </header>
    <div class="container-main card p-5 mt-3 mb-5">
        <h1 class="display-4 mb-5">User Login</h1>
        <form action="/users/login" method="post" class="mt-3" enctype="multipart/form-data">
            <div class="form-outline mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" required name="username" id="username" class="form-control" />
            </div>
            
            <div class="form-outline mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" required name="password" id="password" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
        </form>
    </div>


    <%- include('Layouts/footer') %>
</body>
<%- include('Layouts/scripts') %>
</html>